/****** Script for SelectTopNRows command from SSMS  ******/
SELECT paf.[PTNT_ASES_DK]
      --,paf.[PTNT_DK]
      --,paf.[ASES_ID]
      --,paf.[SRC_TBL]
      ,paf.[ASES_NM]
      ,paf.[ASES_DT]
      ,paf.[ASES_SCOR]
      ,paf.[ASES_SGND_USR_NM]
      ,paf.[EFF_FM_TS]
      --,paf.[EFF_TO_TS]
      --,paf.[CRN_ROW_IND]
      --,paf.[TNT_BK]
      ,paf.[TNT_MKT_BK]
      --,paf.[SRC_CD]
      --,paf.[AUD_ROW_SEQ]
      --,paf.[VLD_FM_TS]
      --,paf.[VLD_TO_TS]
      --,paf.[CHK_SM]
      --,paf.[ASES_SGND_USR_ID]
      --,parf.[PTNT_ASES_RSP_DK]
      --,parf.[PTNT_ASES_DK]
      ,parf.[QSTN_TXT]
      ,parf.[ANSR_TXT]
      ,parf.[ANSR_SCOR]
      --,parf.[EFF_FM_TS]
      --,parf.[EFF_TO_TS]
      --,parf.[CRN_ROW_IND]
      --,parf.[TNT_BK]
      --,parf.[TNT_MKT_BK]
      --,parf.[SRC_CD]
      --,parf.[AUD_ROW_SEQ]
      --,parf.[VLD_FM_TS]
      --,parf.[VLD_TO_TS]
      --,parf.[CHK_SM]
      --,parf.[sect_id]
      --,pd.[PTNT_DK]
      --,pd.[PTNT_BK]
      ,pd.[EMPI]
      ,pd.[MRN]
      ,pd.[TW_MRN]
      --,pd.[EFF_FM_TS]
      --,pd.[EFF_TO_TS]
     -- ,pd.[CRN_ROW_IND]
      --,pd.[TNT_BK]
      --,pd.[TNT_MKT_BK]
      --,pd.[SRC_CD]
      --,pd.[VLD_FM_TS]
      --,pd.[VLD_TO_TS]
      --,pd.[CHK_SM]
	  ,dm.[Region_Name]
  FROM [CIM_RPT].[dbo].[PTNT_ASES_FCT] paf
  JOIN [CIM_RPT].[dbo].[PTNT_ASES_RSP_FCT] parf ON parf.[PTNT_ASES_DK] = paf.[PTNT_ASES_DK]
  JOIN [CIM_RPT].[dbo].[PTNT_DIM] pd ON pd.[PTNT_DK] = paf.[PTNT_DK]
  JOIN [NATIONAL_ANALYTICS].[dbo].[DIM_PATIENT] dp ON dp.[EMPI] = pd.[EMPI]
  JOIN [NATIONAL_ANALYTICS].[dbo].[FACT_ELIGIBILITY] fe ON fe.[Patient_SK] = dp.[Patient_SK]
  JOIN [NATIONAL_ANALYTICS].[dbo].[BRIDGE_SITE_MARKET_HIERARCHY] bsmh ON bsmh.[Site_Market_Hierarchy_SK] = fe.[HCP_Site_Market_Hierarchy_SK]
  JOIN [NATIONAL_ANALYTICS].[dbo].[DIM_MARKET] dm ON dm.[Market_SK] = bsmh.[Market_SK]
  WHERE paf.ASES_DT > '2018-04-01'