/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) pcp.[PTNT_DK]
      ,pcp.[CARE_PLN_ID]
      ,pcp.[CARE_PLN_NM]
      ,pcp.[CARE_PLN_DT]
      ,pcp.[CARE_PLN_STS]
      ,pcp.[EFF_FM_TS]
      ,pcp.[EFF_TO_TS]
      ,pcp.[CRN_ROW_IND]
      ,pcp.[TNT_BK]
      ,pcp.[TNT_MKT_BK]
      ,pcp.[SRC_CD]
      ,pcp.[AUD_ROW_SEQ]
      ,pcp.[VLD_FM_TS]
      ,pcp.[VLD_TO_TS]
      ,pcp.[CHK_SM]
	  ,pd.[MRN]
	  ,pd.[EMPI]
  FROM [CIM_RPT].[dbo].[PTNT_CARE_PLAN] pcp
  JOIN [CIM_RPT].[dbo].[PTNT_DIM] pd on pd.[PTNT_DK] = pcp.[PTNT_DK]