/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [Patient_SK]
      ,[EMPI]
      ,[Patient_Name]
      ,[DOB]
      --,[DOD]
      --,[Deceased_Flag]
      ,[Sex]
      --,[Tel]
      --,[Address_1]
      --,[City]
      ,[States]
      --,[ZipCode]
      ,[Language]
      ,[Race]
      --,[MRN]
      ,[Eff_Date]
      ,[End_Date]
      --,[Current_Member]
      --,[ETL_Create_Date]
      --,[ETL_Update_Date]
  FROM [NATIONAL_ANALYTICS].[dbo].[DIM_PATIENT]
  WHERE [End_Date] > '2016-10-01'
  AND [States] = 'CA'