/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [Vendor Name]
      ,[Group/IPA]
      ,[HCP PCP Name]
      ,[HCP Site Name]
      ,[Member Effective Date]
      ,[Member Termination Date]
      ,[Region Name]
      ,[FSC Category Name]
      ,[FSC Name]
      ,[Line of Business]
      ,[Dx1 ICD 9 CM Code]
      ,[Dx1 ICD 9 CM Description]
      ,[Dx1 ICD CM Version]
      ,[Dx2 ICD 9 CM Code]
      ,[Dx2 ICD 9 CM Description]
      ,[Dx2 ICD CM Version]
      ,[Dx3 ICD 9 CM Code]
      ,[Dx3 ICD 9 CM Description]
      ,[Dx3 ICD CM Version]
      ,[Priority Name]
      ,[Px-CPT Name]
      ,[Px-CPT Procedure Code]
      ,[Referral Status Name]
      ,[Referral Status Type]
      ,[Referral Type Name]
      ,[Referring Provider Name]
      ,[Referring To Provider Name]
      ,[Budget CA Region]
      ,[Community]
      ,[Site Entity Name]
      ,[Site Group/IPA]
      ,[Location Name]
      ,[Referring Provider Specialty (Billing Area)]
      ,[Referring To Provider Specialty (Billing Area)]
      ,[Referral Detail Entry Line Number]
      ,[Quantity (Entered)]
      ,[Date Created]
      ,[Referral Datestamp]
      ,[Date Decision]
      ,[Date Ordered]
      ,[Date Received]
      ,[HCP Connect Auth Number (CCT ID)]
      ,[Patient Request]
      ,[PPL Status]
      ,[Referral Identifier]
      ,[Registrant ID]
      ,[Date Referral Valid From]
      ,[Date Referral Valid To]
  FROM [DSS].[dbo].[Tableau_Normalized_2_Membership]
  WHERE [Px-CPT Procedure Code] = 'J1745'